* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
ul, nav{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
    /* transition-duration: 5s; color: white; */    
}  
header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 35px 100px;
}   
header h2{
    text-transform: uppercase;
    color: white;
}
header a::before {
    color: white;
}
header a {
    color: white;
}

header nav{
    display: flex;
    
}
header nav li {
    margin: 0 15px;
}
header nav li :first-child{
    margin-left:0;
}
header nav li :last-child{
    margin-right:0;
}
@media(max-width:1000px){
    header{
        padding:20px 50px;
    }
}
@media(max-width:700px){
    header{
        flex-direction: column;
    }
    header h2{
        margin-bottom: 15px;
    }
    header nav li {
        margin: 0 7px;
    }
}
/*banner-area*/

section{
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flex;
    display:-o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 100px ;
    
}
@media (max-width: 1000px){
    section{
        padding:100px 50px
    }
}
@media (max-width: 600px){
    section{
        padding:125px 30px
    }
}
section p{
    max-width:800px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;
}
.banner-area{
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color:white;
    text-align: center;
    

}
.banner-area .banner-img{
    background-image: url(images/kompjuter.jpg.png);
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: -1;
}

.banner-area h1{
    margin-bottom: 15px;
    font-size: 55px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.banner-area h3{
    margin-bottom: 40px;
    font-size: 25px;
}

.banner-area .banner-btn{
    color: white;
    padding: 15px 35px;
    background: #961111;
    border-radius: 50px;
    transition-duration: 0.5s;
    text-transform: uppercase;
    border: hidden;
}

@media (max-width:800px){
    .banner-area{
        min-height:600px;
    }
}
.banner-area h1{
    font-size:  32px;
}
.banner-area h3{
    font-size: 20px;
}
.banner-area a.banner.btn-{
    padding:15px 40px;
}
/*about area*/

ul.about-content{
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flex;
    display:-o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.about-content li{
    padding: 20px;
    height: 400px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}
.about-left{
    flex-basis: 30%;
    background-image:url(images/jezici.jpg);

}
.about-right{
    flex-basis: 70%;
}
.about-area p{
    max-width: 800px;
    margin-bottom: 35px;
    line-height: 1.5;
    text-align: left;
    padding-left: 0;
}
.coursesImg{
    width: 20%;
    float:left;
}
.contact-area{
    background-color:#d1c4b8;

    
   
}