body {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
   background: #f0f3f7;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   }

.Header
{
   width: 100%;
   height: 100px;
   background-color: #f0f3f7;
}
.Header_text
{
 font-size: 70%;
 color: rgb(79, 79, 82);
 text-align:left;
 padding: 35px 420px 0;
 
}
.Header_icons {
   margin: -48px 50px;
   text-align: right;
   
}
.About_me
{
   height: 1000px;
   width: 1000px;
   margin: auto;
   background: white;
   border-radius: 20px;
   color: white;  
}
.Informations {
   font-size: 150% ;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   text-align: center;
   margin-top: -200px;
   margin-left: 60px;
}
.Image{
 margin-right: 800px;
 margin-top: -120px;  
}
.About_me2
{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: rgb(79, 79, 82);
   font-size: 70%;
   text-align: left;
}
