body {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
   
   background: #f0f3f7;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   }

.Header
{
   width: 100%;
   height: 100px;
   align-content: center;
}
.Header_text
{
 font-size: 70%;
 color: rgb(79, 79, 82);
 
 padding: 35px 420px 0;
 align-content: center;
}
.Header_icons {
   margin: -48px 50px;
   text-align: right;
   
   
}
.About_me
{
   height: 3000px;
   width: 1000px;
   margin: auto;
   background: white;
   border-radius: 20px;
   color: white;  
   
}
.Informations {
   font-size: 150% ;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   text-align: center;
   margin-top: -200px;
   margin-left: 60px;
}
.Image{
 margin-right: 800px;
 margin-top: -120px;  
 
}
.About_me2
{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: rgb(79, 79, 82);
   font-size: 65%;
   text-align: left;
   display: flex;
}
.About-left{
   flex-basis: 60%;
}
.About-right{
   flex-basis: 50%;
   margin: 30px;
}
.Professional_skills
{
 color:rgb(79, 79, 82);
 font-size: 80%;
 margin-left: 60px;
}
.Work_Experience
{
color: rgb(79, 79, 82);
margin-left: 60px;
font-size: 80%;

}
.vl{
   flex: 5%;
}
.Work_Experience2
{ 
border: 1px solid lightgray;
margin-top: 60px;
margin-right: 40px;
padding: 20px;
border-left-color: rgb(18, 101, 224);
border-radius: 5px;
box-shadow: 0 1px 4px 0;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: small;
}
.Graphic_Designer 
{
   border: 1px solid lightgray;
   margin-top: 60px;
   margin-right: 40px;
   padding: 20px;
   border-left-color: rgb(18, 101, 224);
   border-radius: 5px;
   box-shadow: 0 1px 4px 0;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size:small;  
   
}
.Junior_Developer
{
   border: 1px solid lightgray;
   margin-top: 60px;
   margin-right: 40px;
   padding: 20px;
   border-left-color: rgb(18, 101, 224);
   border-radius: 5px;
   box-shadow: 0 1px 4px 0;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: small;    
}
.Education{
   margin-top: 30px;
}
.Education2
{
   border: 1px solid lightgray;
   margin-top: 60px;
   margin-right: 40px;
   padding: 20px;
   border-left-color: rgb(42, 231, 127);
   border-radius: 5px;
   box-shadow: 0 1px 4px 0;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: small;     
}
.Computer_Science{
   border: 1px solid lightgray;
   margin-top: 60px;
   margin-right: 40px;
   padding: 20px;
   border-left-color: rgb(42, 231, 127);
   border-radius: 5px;
   box-shadow: 0 1px 4px 0;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: small;   
}
.Mathematics
{
   border: 1px solid lightgray;
   margin-top: 60px;
   margin-right: 40px;
   padding: 20px;
   border-left-color: rgb(241, 241, 241);
   border-radius: 5px;
   box-shadow: 0 1px 4px 0;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: small;   
}
.Contact{
   margin: 10px;
}
input[type=text], select, textarea {
   width: 30%;
   padding: 13px;
   border: 1px solid rgb(199, 198, 198);
   background-color: rgb(240, 240, 240);
   border-radius: 4px;
   box-sizing: border-box;
   margin-top: 20px;
   margin-bottom: 16px;
   margin-left: 20px;
  
 }
 